<ul>
    <li class="active">
        <h3><span class="fa fa-search"></span>Search</h3>
        <ul>
            <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
        </ul>
    </li>
    <!-- we will keep this LI open by default -->
    <li>
        <h3><span class="icon-tasks"></span>Tasks</h3>
        <ul>
            <li><a href="#">Today's tasks</a></li>
            <li><a href="#">Urgent</a></li>
            <li><a href="#">Overdues</a></li>
            <li><a href="#">Recurring</a></li>
        </ul>
    </li>
    <li>
        <h3><span class="fa fa-cogs fa-fw"></span>Settings</h3>
        <ul>
            <li><a href="#profile"><i class="fa fa-users"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i> Bank Information</a></li>
            <li><a href="#"><i class="fa fa-th-list"></i> History</a></li>
        </ul>
    </li>
</ul>