<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4 well well-sm">
            <legend><i class="fa fa-globe"></i> Sign up!</legend>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" id="firstName" name="firstName" placeholder="First Name" type="text"/>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" id="lastName" name="lastName" placeholder="Last Name" type="text"/>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" id="email" name="email" placeholder="Your Email" type="email" />
                <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
                <input class="form-control" id="password" name="password" placeholder="New Password" type="password" />
                <span class="help-block hidden"></span>
            </div>
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" id="registerSubmit" type="submit">
                Sign up</button>
            </form>
        </div>
    </div>
</div>