$fa-font-path: "../../bower_components/font-awesome/fonts";
@import 'font-awesome/scss/font-awesome';
@import 'sass-bootstrap/lib/bootstrap';

body{
  background: #eceef3;

}


.container {
	padding: 0px;
	margin: 0px;
}

// $primary-color: #2980b9;
// $secondary-color: #3498db;

$primary-color: #27ae60;
$secondary-color: #2ecc71;

/*Navbar*/
.navbar {
  /*background-color: #003040;
  border-color: #003040;*/
  background-color: $primary-color;
  border-color: $primary-color;
  margin-bottom:0px;
  border-radius:0px;
  z-index:1;
  .navbar-brand {
    color: white;
  }
  .navbar-nav > li > a{
    color:white;
  }

}








/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/*Basic reset*/
* {margin: 0; padding: 0;}

body {
    padding-top:0px;
    /*background: #4EB889;*/
    font-family: Nunito, arial, verdana;
}
#accordian {
    /*background: #004050;*/
    background: $secondary-color;
    color: white;
    position:fixed;
    height:100%;
    padding:0px;
    /*Some cool shadow and glow effect*/
   /*box-shadow: 
        0 5px 15px 1px rgba(0, 0, 0, 0.6), 
        0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}
/*heading styles*/
#accordian h3 {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    margin-top:0px;
    margin-bottom:0px;
    /*fallback for browsers not supporting gradients*/
    /*background: #003040; 
    background: linear-gradient(#003040, #002535);*/
    background: $primary-color;
    background: linear-gradient($primary-color, $primary-color - #000505)
}
/*heading hover effect*/
#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
    font-size: 16px;
    margin-right: 10px;
}
/*list items*/
#accordian li {
    list-style-type: none;
}
/*links*/
#accordian ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    line-height: 27px;
    display: block;
    padding: 0 15px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
    /*background: #003545;*/
    background: $primary-color;
    border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
    display: none;
}
#accordian li.active ul {
    display: block;
}





#login-block {
  padding-top: 50px;
  padding-bottom: 25px;
}

.login-box {
  position: relative;
  max-width: 480px;
  // background: #3498db;
  background: $primary-color;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-bottom: 20px;
  margin-top: 80px;
}

.login-box hr {
  margin: 10px auto 20px;
  width: 70%;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}


.login-logo {
  text-align: center;
  padding: 15px 0 10px;
  color:white;
  font-size:20px;
}


.alert {
  margin: 20px auto;
  width: 70%;
}

.btn.btn-login {
  width: 120px;
  display: block;
  margin: 20px auto 20px;
  color: white;
  text-transform: uppercase;
  background: #2980b9;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.login-form input {
  display: block;
  margin: 0 auto 15px;
  width: 70%;
  background: #fefefe;
  border: 0;
  color: #6c6c6c;
  padding: 8px;
  border-radius: 2px;
}

.login-links {
  text-align: center;
}

.login-links a {
color: #FFF;
display: inline-block;
padding: 5px;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
opacity: 0.7;
}

#signup {
  padding-top: 10%;
  .form-control { 
    margin-bottom: 10px; 
  }
}

.form-group {
  margin-bottom: 0px;
}


.well {

  legend{
    border-bottom: 1px solid $primary-color;
  }
  background-color:$secondary-color;
  border: 1px solid $primary-color;
}